/* font */
@font-face {
  font-family: 'StickersRegular';
  src: url('./assets/fonts/Stickers-Regular.ttf') format('truetype');
}

/* GENERAL FORMATTING*/
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
}


/* VIEW PAGE FORMATTING */
/* bounding box for page background*/
.background-image{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('/sticker-background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  pointer-events: none;
}

.view {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

/* bounding box for signup and login upper buttons and info input */
/* .signup-and-login {

/* signup link text */
.signup-button {
  font-size: 2rem;
  position: absolute;
  left: 0px;
  padding: 10px;
  border: 4px solid #000000;
  z-index: 1;
}

.signup-container {
  font-size: 1rem;
  position: absolute;
  left: 135px;
  padding: 4px 8px;
  line-height: 1.6rem;
  border: 2px solid #000000;
}

.email-input {
  padding: 0px 4px;
  padding-left: 47px;
}

.signup-submit-button {
  margin: 2px 94px;
}

.login-container {
  font-size: 1rem;
  position: absolute;
  right: 100px;
  padding: 10px;
  border: 4px solid #000000;
}

.login-submit-button {
  margin: 0.49rem;
}

.login-button {
  font-size: 2rem;
  position: absolute;
  right: 0px;
  padding: 10px;
  border: 4px solid #000000;
  z-index: 1;
}

.title {
  font-size: 4rem;
  font-weight: bold;
  font-family: StickersRegular, sans-serif;
  color: #00addd;
  line-height: 1.1;
  text-align: center;
  margin: 1.5rem;
  margin-top: calc(2rem + 20px + 40px);
}

/* meme formatting. Height will adjust to image OG max size without exceeding a width 
of 900px to keep the ratings bar snug to the image bottom regardless of proportions*/
.image-container {
  padding: 0 5rem;
  margin: 0 auto;
  display: flex;
  width: 100%;
  max-width: 900px;
  max-height: 500px;
  justify-content: center;
  box-sizing: border-box;
}

.responsive-image {
  display: block;
  border-radius: 2rem;
  border: 6px solid #000000;
  max-width: 100%;
  width: auto;
  height: auto;
  object-fit: contain; 
 }

/* Holding box for rating bar */
.rating-bar-box {
  width: 100vw;
  height: 6rem;
  max-width: 900px;
  margin: 1rem auto;
  padding: 1px;
  background-color: #f9f9f9ef;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 1;
}
/* END OF VIEW PAGE FORMATTING */


/* START OF STATS PAGE STYLING */

/* StatsPage cards: */
.card {
  background: rgb(232, 232, 232);
  padding: 1rem;
  margin-bottom: 1rem;
}

.my-meme {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-right: 1rem;
  margin-bottom: 1rem;
  background-color: #f9f9f9ef;
}

.my-meme img {
  width: 80px;
  height: 80px;
}

  .avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.stats-card img {
  width: 100%;
  max-width: 300px;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

/* StatsPage columns & rows */
.row {
  display: flex;
   gap: 1rem;
}

.column {
  float: left;
}

.left {
  width: 75%;
}

.right{
  width: 75%;
}

.responsive-image {
  display: block;
  max-width: 100%;
  width: auto;
  height: auto;
  object-fit: contain; 
 }

/* Holding box for rating bar */
.rating-bar-box {
  width: 100vw;
  height: 4rem;
  max-width: 900px;
  margin: 1rem auto;
  padding: 1px;
  background-color: #f9f9f9ef;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 1;
}
