/* GENERAL FORMATTING*/
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
}


/* VIEW PAGE FORMATTING */
/* bounding box for age background*/
.stats-page-wrapper,
.view {
  display: flex;
  flex-direction: column;
}

/* bounding box for signup and login upper buttons and info input */
/* .signup-and-login {


/* signup link text */
.signup-link {
  font-size: 2rem;
  position: absolute;
  left: 0px;
  padding: 10px;
  border: 2px solid #000000;
}

/* login link text */
.login-link {
  font-size: 2rem;
  position: absolute;
  right: 0px;
  padding: 10px;
  border: 2px solid #000000;
}

.title {
  font-size: 2.5em;
  font-weight: bold;
  line-height: 1.1;
  text-align: center;
  margin: 2rem;
  margin-top: calc(2rem + 20px + 20px);
}

/* meme formatting. Height will adjust to image OG max size without exceeding a width 
of 900px to keep the ratings bar snug to the image bottom regardless of proportions*/
.image-container {
  padding: 0 5rem;
  display: flex;
  background-color: #f9f9f9ef;
  max-width: 900px;
  max-height: 500px;
  justify-content: center;
  box-sizing: border-box;
}

.responsive-image {
  display: block;
  max-width: 100%;
  width: auto;
  height: auto;
  object-fit: contain; 
 }

/* Holding box for rating bar */
.rating-bar-box {
  width: 100vw;
  height: 4rem;
  max-width: 900px;
  margin: 1rem auto;
  padding: 1px;
  background-color: #f9f9f9ef;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 1;
}

/* !! Stats page cards: */

.card {
  background: rgb(106, 106, 106);
  padding: 1rem;
  margin-bottom: 1rem;
}

.my-meme {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-right: 1rem;
  margin-bottom: 1rem;
  background-color: #b0b0b0;
}

.my-meme img {
  width: 80px;
  height: 80px;
}

  .avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.stats-card img {
  width: 100%;
  max-width: 300px;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.row {
  display: flex;
   gap: 1rem;
}

.column {
  float: left;
}

.left {
  width: 75%;
}

.right{
  width: 75%;
}
